$page-breakpoint: 70rem;

.columns {
  display: flex;
  text-align: left;
  background-color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0;

  .column {
    border-right: 1px solid #bbb;
    width: 100%;

    &:last-child {
      border-right: 0;
    }
    .column-title {
      background-color: #6ec3b4;
      font-size: 1.2rem;
      padding: 1rem;
      font-weight: bold;
    }
    .column-corner {
      float: right;
      font-size: 1.2rem;
      padding: 1rem;
    }
  }
  .column-1-2 {
    width: 50%;
  }
  .column-1-3 {
    width: 34%;
  }
  .column-2-3 {
    width: 67%;
  }
}

@media (max-width: $page-breakpoint) {

.columns {
  display: block;
  width: 100%;

  .column {
  	width: 100%;
  	.column-1-2 {
  	  width: 100%;
  	}
  }
  .column-1-3 {
    width: 100%;
  }
  .column-2-3 {
    width: 100%;
  }
}

}