footer {
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #333;
  border-top: #aaa solid 1px;

  .footer-column {
    padding: 0 1.6rem .4rem 1.6rem;
    border-right: 0;
    border-right: 1px solid #bbb;
    width: 100%;
    background-color: #333;
    color: #efefef;
    line-height: 1.4;

    h3 {
      line-height: 1.2;
      margin-top: .4rem;
    }
    a {
      color: #efefef;
    }

    &:last-child {
      border-right: 0;
    }
  }
}

@media (max-width: $page-breakpoint) {
  footer {
    padding-top: 0;
    padding-bottom: 0;

    .footer-column {
      padding: .2rem .8rem .8rem .8rem;
    }
  }
}