.heading {
  width: 100%;
  background-color: #6ec3b4;

  .heading-title {
  	font-size: 1rem;
  	padding: .4rem 1rem .4rem 1rem;
  }
  .heading-more {
    float: right;
    font-size: 1rem;
    padding: .4rem 1rem .4rem 1rem;
  }
}