.pagination-wrapper {
  background-color: #333;
  color: #fbfbfb;
  font-size: 1rem;
  font-weight: bold;
  padding: .8rem;

  a {
    color: #fbfbfb;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    padding-left: .4rem;
    padding-right: .4rem;
  }

  .pagination-page {
    float: right;
  }

  .pagination-info {
  }
}
