.news {
  background-color: #fff;
  padding: 1rem .8rem .6rem .8rem;
  border-bottom: 1px solid #aaa;
  text-align: left;

  a {
    color: 333;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .news-title {
    font-size: 1.4rem;

    a {
      color: inherit;
    }
  }

  .news-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .news-footer {
    font-size: .9rem;
    color: #bbb;

    .news-channel {
    }
    .news-time {
      float: right;
      font-style: italic;
    }
  }
}