footer {
  background-color: $main-font-color;
  border-top: solid 1px $border-color;
  font-size: 1rem;
  overflow: hidden;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
  text-align: center;

  .footer-column {
    background-color: $main-font-color;
    border-right: 1px solid $light-font-color;
    color: $menu-link-color;
    line-height: 1.4;
    padding: 0 1.6rem .4rem 1.6rem;
    width: 100%;

    h3 {
      line-height: 1.2;
      margin-top: .4rem;
    }

    a {
      color: $menu-link-color;
    }

    &:last-child {
      border-right: 0;
    }
  }
}

@media (max-width: $page-breakpoint) {
  footer {
    display: none;
    padding-bottom: 0;
    padding-top: 0;

    .footer-column {
      padding: .2rem .8rem .8rem .8rem;
    }
  }
}
