.heading {
  background-color: $heading-bg-color;
  position: relative;
  width: 100%;
  z-index: 10;

  .heading-title {
    border-left: .4rem $light-font-color solid;
    font-size: 1rem;
    line-height: 1.8;
    padding: .4rem 1rem;
  }

  .heading-more {
    font-size: 1rem;
    line-height: 1.8;
    padding: .4rem 1rem;
    position: absolute;
    right: 0;
  }
}
