.menu {
  font-size: 1.4rem;
  line-height: 1;
  margin: 0;
  width: 100%;

  a {
    color: $main-font-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.menu-name {
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 3rem;
  margin: 0 0 1.4rem .4rem;
  padding-top: 1.5rem;
}

.menu-list {
  background-color: $main-font-color;
  border-top: $bg-color solid 1px;
  border-radius: 4px;
  display: flex;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .8rem .8rem;
}

.menu-item {
  a {
    color: $menu-link-color;
    padding-right: .4rem;

    &:hover {
      text-decoration: underline;
    }

    &.menu-active {
      color: $heading-bg-color;
    }
  }
}

.menu-navicon {
  display: none;
}

.menu-on {
  display: flex;
}

.menu-off {
  display: none;
}

@media (max-width: $page-breakpoint) {
  .menu {
    padding-left: 0;
  }

  .menu-navicon {
    display: block;
    float: right;
    padding: 1.2rem .8rem 1.6rem 0;

    button {
      background-color: $main-font-color;
      border: 0;
      color: $menu-link-color;
      font-size: 1rem;
      font-weight: bold;
      height: 2.1rem;
      margin: 0;
      padding: 0;
      width: 2.4rem;
    }
  }

  .menu-name {
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }

  .menu-list {
    display: none;
  }

  .menu-dropdown {
    background-color: $main-font-color;
    justify-content: space-between;
    position: absolute;
    top: 4.2rem;
    width: 100%;
    z-index: 20;
  }

  .menu-dropdown-index {
    border-right: 1px solid $border-color;
    margin: .4rem 0 1rem 1rem;
    width: 25%;

    .menu-item {
      margin-bottom: .8rem;

      a {
        font-size: 1.2rem;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .menu-dropdown-list {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: .4rem 0 1rem 1rem;
    width: 75%;

    .menu-item {
      margin-bottom: .8rem;
      width: 8rem;

      a {
        font-size: 1.2rem;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
