.heading {
  border-bottom: 1px solid $border-color;
  font-weight: bold;
  width: 100%;
  z-index: 10;

  .heading-wrap {
    padding: .4rem .4rem 0 .4rem;
    position: relative;

    .heading-title {
      font-size: 1rem;
    }

    .heading-more {
      font-size: 1rem;
      position: absolute;
      right: .8rem;
    }
  }
}
