.news {
  text-align: left;
  width: 100%;

  a {
    color: $main-font-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.news-wrap {
  overflow: hidden;
  width: 100%;

  &:last-of-type {
    border-bottom: 0;
  }
}

.news-item {
  display: block;
  line-height: 1.25;
  padding: .8rem .4rem .4rem .4rem;
  margin: .8rem 0;

  .news-title {
    font-family: 'Crimson Text', Georgia, serif;
    font-size: 1.4rem;
    font-weight: bold;

    a {
      color: inherit;
    }
  }

  .news-content {
    font-size: 1rem;
    margin-bottom: .4rem;
    margin-top: .4rem;
    width: 100%;
  }

  .news-footer {
    color: $light-font-color;
    font-size: 1rem;
    width: 100%;

    .news-channel {
      font-size: 1rem;
    }

    .news-time {
      float: right;
      font-size: 1rem;
      font-style: italic;
    }
  }
}

.news-headline {
  font-size: 1rem;
  padding-bottom: .4rem;

  &:last-of-type {
    padding-bottom: 0;
  }

  .news-title {
    line-height: 1.8rem;

    &::before {
      background-color: $news-highlight-font-color;
      content: 'top';
      font-size: 1.2rem;
      margin-right: .4rem;
      padding: .2rem .4rem .2rem .4rem;
    }
  }
}

.news-result {
  table {
    width: 100%;
  }

  th:first-child,
  td:first-child {
    width: 35%;
  }

  th:nth-child(2) {
    text-align: center;
  }

  td:nth-child(2) {
    text-align: center;
  }

  th:last-child,
  td:last-child {
    text-align: right;
    width: 35%;
  }
}

.loading {
  font-size: 1rem;
  padding: .8rem;
  text-align: center;
}

.share {
  font-weight: bold;
  padding: .4rem;
  text-align: center;
}

a {
  &.active-link {
    text-decoration: underline;
  }
}
