.pagination-wrapper {
  background-color: $main-font-color;
  border-radius: 4px;
  color: $bg-color;
  font-size: 1rem;
  padding: .4rem;

  a {
    color: $bg-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    padding-left: .4rem;
    padding-right: .4rem;
  }

  .pagination-page {
    float: right;
  }

  .pagination-info {
    color: inherit;
  }
}
