$min-breakpoint: 26rem;
$page-breakpoint: 70rem;
$font-breakpoint: 48rem;

$main-font-color: #343a40;            // grey 8
$light-font-color: #868e96;           // grey 6
$border-color: #dee2e6;               // grey 3
$news-highlight-bg-color: #e9ecef;    // grey 2
$bg-color: #f1f3f5;                   // grey 1
$menu-link-color: #f8f9fa;            // grey 0
$news-bg-color: #f8f9fa;              // grey 0
$table-border-color: #ffe066;         // yellow 3
$news-highlight-font-color: #e03131;  // red 8
$heading-bg-color: #15aabf;           // cyan 6


@import 'header';
@import 'footer';
@import 'column';
@import 'heading';
@import 'news';
@import 'article';
@import 'search';
@import 'pagination';
@import 'admin';

html {
  font-size: 16px;
}

@media (max-width: $font-breakpoint) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: $bg-color;
  color: $main-font-color;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
}

.container {
  box-shadow: 0 1px 1px 0 $border-color;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: $page-breakpoint;
}

@media (max-width: $page-breakpoint) {
  .container {
    min-width: $min-breakpoint;
    padding-left: 0;
    width: 100%;
  }
}

a {
  color: $main-font-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

table {
  border-spacing: 0;

  th {
    background-color: $table-border-color;
    padding: .2rem .4rem;
  }

  tr {
    &:hover {
      background-color: $table-border-color;
    }
  }
}

ul {
  margin: 0 0 1rem;
  padding: 0;

  li {
    list-style-type: dotted;
    margin: 0 0 0 2rem;
  }
}

.not-found {
  text-align: center;

  p {
    font-size: 5rem;
    color: $main-font-color;
    margin: 1rem 0;
    padding: 0;
  }
}

.error {
  background-color: $news-highlight-font-color;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 1px 0 $news-highlight-font-color;
  font-weight: bold;
  left: 50%;
  padding: .8rem 0;
  position: fixed;
  text-align: center;
  top: 0;
  transform: translate(-50%);
  width: 20rem;
  z-index: 999;
}
